In [1]:
# import pandas library
import pandas as pd

In [17]:
baby_names = pd.read_csv("babies-first-names.csv")

### 1. The 5 most popular baby name in 2018

In [22]:
baby_names_2018 = baby_names.loc[baby_names["yr"] == 2018, : ]
sorted_names_2018 = baby_names_2018.sort_values('number', ascending = False)
sorted_names_2018.iloc[0:5]

          yr sex FirstForename  number  rank position
228551  2018   G        Olivia     444     1        1
228552  2018   G         Emily     423     2        2
225086  2018   B          Jack     422     1        1
228553  2018   G          Isla     383     3        3
228554  2018   G        Sophie     331     4        4

In [23]:
### 2. The 5 most popular baby name by year and sexe